* {
    box-sizing: border-box;
}

header {
    background-color: #ffb2c1;
    margin: 0 -20px;
}

body {
    font-family: 'Gentium Basic',
    serif; 
    font-size: 16px;
    background-color: #b2d0ff;
    margin: 0px 20px;
    padding: 0;
    text-align: center;
    color: #444;
}

#pfp {
    margin-top: 75px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #b2ffe1;
}

.heading {
    margin-top: 15px;
    padding-bottom: 25px;
}

.bio, .projects-title{
    background-color: #b2d0ff;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
}

.nav {
    position: sticky;
    top: 0;
    margin-top: -20px;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 -20px;
    background-color: #b2ffe1;
}

.nav ul li{
    font-size: 24px;
    list-style-type: none;
}

.nav ul li a {
    text-decoration: none;
}

.bio-desc, .description {
    text-align: left;
    text-justify: inter-word;
    font-weight: 550;
    line-height: 1.5em;
    word-spacing: 145%;
}

.projects-title {
    background-color: #ffb2c1;
    margin-right: -20px;
    margin-left: -20px;
}

.project-img{
    width:100%;
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    background-color: #b2ffe1;
    text-decoration: none;
    width: 100px;
    height: 25px;
    font-size: 18px;
    font-weight: 700px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.contact {
    padding-top:2.5vh;
    height: 82.5vh;
}

.contact-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    border: 1px solid black;
    margin-left: -20px;
    margin-right: -20px;
}

.links {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links a {
    display: flex;
    justify-content: center;
    width: 50%;
}

#link-logo {
    width: 60%;
}

#github-logo {
    width: 50%;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
        margin: 0 45px;
    }

    header {
        padding-top: 1px;
        margin: 0 -45px;
    }

    .nav {
        margin-top: -50px;
    }

    .nav-links {
        margin: 0 -45px;
    }

    .nav ul li{
        font-size: 30px;
    }
    
    #pfp {
        z-index: 0;
        position: absolute;
        top: 14rem;
        left: 2.5rem;
        height: 300px;
        width: 300px;
        float: right;
        border-radius: 0;
    }
    .square {
        width: 20rem;
        height: 25rem;
        float: left;
    }

    .bio, .projects-title{
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .projects-title {
        background-color: #ffb2c1;
        margin-right: -45px;
        margin-left: -45px;
    }

    .bio-desc, .description {
        font-size: 22px;
    }

    .buttons {
        margin-top: 20px;
        width: 150px;
        height: 35px;
        font-size: 24px;
    }

    footer {
        margin-left: -45px;
        margin-right: -45px;
    }

    .contact {
        padding-top:10vh;
        height: 87vh;
    }

    #link-logo {
        width: 30%;
    }
    
    #github-logo {
        width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 42px;
        margin: 0 45px;
    }

    header {
        padding-top: 1px;
        margin: 0 -45px;
    }

    .nav {
        margin-top: -55px;
    }

    .nav-links {
        margin: 0 -45px;
    }

    .nav ul li{
        font-size: 50px;
    }
    
    #pfp {
        z-index: 0;
        position: absolute;
        top: 26.75rem;
        left: 2.5rem;
        height: 400px;
        width: 400px;
        float: right;
        border-radius: 0;
    }
    .square {
        width: 28rem;
        height: 32rem;
        float: left;
    }

    .bio-desc, .description {
        font-size: 28px;
        line-height: 2em;
    }

    .projects-title {
        background-color: #ffb2c1;
        margin-right: -45px;
        margin-left: -45px;
    }

    .bio, .projects-title{
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .buttons {
        margin-top: 25px;
        width: 200px;
        height: 50px;
        font-size: 42px;
    }

    footer {
        margin-left: -45px;
        margin-right: -45px;
    }

    .contact {
        padding-top:10vh;
        height: 83vh;
    }

    #link-logo {
        width: 30%;
    }
    
    #github-logo {
        width: 25%;
    }
}

@media screen and (min-width: 1864px) {
    #pfp {
        z-index: 0;
        position: absolute;
        top: 20.75rem;
        left: 2.5rem;
        height: 400px;
        width: 400px;
        float: right;
        border-radius: 0;
    }
    .square {
        width: 28rem;
        height: 28rem;
        float: left;
    }
}
